:root{
  --normal : #a4acaf;
	--fire: #fd7d24;
	--water: #4592c4;
	--electric: #eed535;
	--grass: #9bcc50;
	--ice: #96D9D6;
	--fighting: #d56723;
	--poison: #A33EA1;
	--ground: #f7de3f;
	--flying: #3dc7ef;
	--psychic: #F95582;
	--bug: #729f3f;
	--rock: #a38c21;
	--ghost: #7b62a3;
	--dragon: #6F35FC;
	--dark: #707070;
	--steel: #B7B7CE;
	--fairy: #fdb9e9;
}